:root {
  --betterplace-sizing-fix-6: 90rem;
  --betterplace-sizing-fix-5: 52.875rem;
  --betterplace-sizing-fix-4: 60rem;
  --betterplace-sizing-fix-3: 48.75rem;
  --betterplace-sizing-fix-2: 23.4375rem;
  --betterplace-sizing-fix-1: 20rem;
  --betterplace-viewport-max: 90rem;
  --betterplace-viewport-min: 22.5rem;
  --betterplace-viewport-width: 100vw;
  --betterplace-measure-2xl: 121ch;
  --betterplace-measure-xl: 100ch;
  --betterplace-measure-lg: 81ch;
  --betterplace-measure-md: 64ch;
  --betterplace-measure-sm: 49ch;
  --betterplace-measure-xs: 36ch;
  --betterplace-measure-2xs: 25ch;
  --betterplace-font-size-0: 1rem;
  --betterplace-variables-width-of-zero-glyph: 0.5583;
  --betterplace-variables-font-size-scale-ratio: 1.1892;
  --betterplace-variables-max-font-size: 1.125rem;
  --betterplace-variables-min-font-size: 1rem;
  --betterplace-line-heights-base: 1.5;
  --betterplace-line-heights-sm: 1.2;
  --betterplace-line-heights-xs: 1.1;
  --betterplace-text-decoration-underline: underline;
  --betterplace-text-decoration-none: none;
  --betterplace-text-case-capitalize: capitalize;
  --betterplace-text-case-none: none;
  --betterplace-font-weights-bold: 700;
  --betterplace-font-weights-regular: 400;
  --betterplace-font-families-fira-sans: 'Fira Sans';
  --betterplace-external-color-red-sparkasse: #ff0000;
  --betterplace-external-color-blue-linkedin: #0A66C2;
  --betterplace-external-color-pink-instagram: #E65083;
  --betterplace-external-color-blue-twitter: #1DA1F2;
  --betterplace-external-color-blue-facebook: #4E69A2;
  --betterplace-me-color-green-special: #EBF2E6;
  --betterplace-me-color-blue-700: #005D90;
  --betterplace-me-color-blue-500: #00A0C8;
  --betterplace-me-color-blue-100: #E0F4F9;
  --betterplace-me-color-orange-800: #6F1F06;
  --betterplace-me-color-orange-600: #DB6038;
  --betterplace-me-color-orange-500: #ff854d;
  --betterplace-color-opacity-light: rgb(255 255 255 / 40%);
  --betterplace-color-opacity-dark: rgb(0 0 0 / 40%);
  --betterplace-color-blue-dark: #245d8c;
  --betterplace-color-darkness: #000000;
  --betterplace-color-light: #ffffff;
  --betterplace-color-red-900: #931c38;
  --betterplace-color-red-800: #b11b3e;
  --betterplace-color-red-700: #d32b43;
  --betterplace-color-red-600: #dc2626;
  --betterplace-color-red-500: #ef4444;
  --betterplace-color-red-400: #f87171;
  --betterplace-color-red-300: #fca5a5;
  --betterplace-color-red-200: #ffc4c4;
  --betterplace-color-red-100: #fee2e2;
  --betterplace-color-yellow-900: #c44400;
  --betterplace-color-yellow-800: #d86c00;
  --betterplace-color-yellow-700: #f39600;
  --betterplace-color-yellow-600: #f3a900;
  --betterplace-color-yellow-500: #f3b700;
  --betterplace-color-yellow-400: #f6ce46;
  --betterplace-color-yellow-300: #f9da7c;
  --betterplace-color-yellow-200: #fbe8af;
  --betterplace-color-yellow-100: #fff4d2;
  --betterplace-color-teal-900: #114e47;
  --betterplace-color-teal-800: #1e6761;
  --betterplace-color-teal-700: #2b8475;
  --betterplace-color-teal-600: #309b89;
  --betterplace-color-teal-500: #60b2a4;
  --betterplace-color-teal-400: #88d0bd;
  --betterplace-color-teal-300: #a7e7d0;
  --betterplace-color-teal-200: #c9f7e2;
  --betterplace-color-teal-100: #e4fbee;
  --betterplace-color-purple-900: #381835;
  --betterplace-color-purple-800: #4d1a43;
  --betterplace-color-purple-700: #612058;
  --betterplace-color-purple-600: #6d2c64;
  --betterplace-color-purple-500: #833c79;
  --betterplace-color-purple-400: #a75c96;
  --betterplace-color-purple-300: #d387ba;
  --betterplace-color-purple-200: #f0b7d8;
  --betterplace-color-purple-100: #f7dae8;
  --betterplace-color-green-900: #2a5807;
  --betterplace-color-green-800: #357c00;
  --betterplace-color-green-700: #549205;
  --betterplace-color-green-600: #85ac1c;
  --betterplace-color-green-500: #9ecb0a;
  --betterplace-color-green-400: #bedf40;
  --betterplace-color-green-300: #d6ef66;
  --betterplace-color-green-200: #eaf99a;
  --betterplace-color-green-100: #f5fccc;
  --betterplace-color-gray-900: #282828;
  --betterplace-color-gray-800: #3f3f3f;
  --betterplace-color-gray-700: #636363;
  --betterplace-color-gray-600: #7b7b7b;
  --betterplace-color-gray-500: #919191;
  --betterplace-color-gray-400: #acacac;
  --betterplace-color-gray-300: #cccccc;
  --betterplace-color-gray-200: #eeeeee;
  --betterplace-color-gray-100: #f8f8f8;
  --betterplace-paragraph-spacing-sm: 0.5rem;
  --betterplace-paragraph-spacing-md: 0.75rem;
  --betterplace-paragraph-spacing-0: 0;
  --betterplace-letter-spacing-decreased: -5%;
  --betterplace-letter-spacing-increased: 150%;
  --betterplace-letter-spacing-0: 0%;
  --betterplace-opacity-high: 90%;
  --betterplace-opacity-md: 50%;
  --betterplace-opacity-low: 10%;
  --betterplace-dimension-none: 0rem;
  --betterplace-dimension--1: 0.75rem;
  --betterplace-dimension--2: 0.5rem;
  --betterplace-dimension--5: 0.0625rem;
  --betterplace-dimension--4: 0.125rem;
  --betterplace-dimension--3: 0.25rem;
  --betterplace-dimension-10: 30rem;
  --betterplace-dimension-9: 20rem;
  --betterplace-dimension-8: 12.5rem;
  --betterplace-dimension-7: 6.25rem;
  --betterplace-dimension-6: 5rem;
  --betterplace-dimension-5: 4rem;
  --betterplace-dimension-4: 3rem;
  --betterplace-dimension-3: 2rem;
  --betterplace-dimension-2: 1.5rem;
  --betterplace-dimension-1: 1.25rem;
  --betterplace-dimension-0: 1rem;
  --betterplace-shadow-inner-green-6: inset var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-dimension-4) var(--betterplace-color-green-900);
  --betterplace-shadow-inner-green-5: inset var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-2) var(--betterplace-color-green-900);
  --betterplace-shadow-inner-green-4: inset var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-0) var(--betterplace-color-green-900);
  --betterplace-shadow-inner-green-3: inset var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-dimension--2) var(--betterplace-color-green-900);
  --betterplace-shadow-inner-green-2: inset var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-dimension--3) var(--betterplace-color-green-900);
  --betterplace-shadow-inner-green-1: inset var(--betterplace-dimension-none) 0.063rem var(--betterplace-dimension--4) var(--betterplace-color-green-900);
  --betterplace-shadow-inner-red-6: inset var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-dimension-4) var(--betterplace-color-red-900);
  --betterplace-shadow-inner-red-5: inset var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-2) var(--betterplace-color-red-900);
  --betterplace-shadow-inner-red-4: inset var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-0) var(--betterplace-color-red-900);
  --betterplace-shadow-inner-red-3: inset var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-dimension--2) var(--betterplace-color-red-900);
  --betterplace-shadow-inner-red-2: inset var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-dimension--3) var(--betterplace-color-red-900);
  --betterplace-shadow-inner-red-1: inset var(--betterplace-dimension-none) 0.063rem var(--betterplace-dimension--4) var(--betterplace-color-red-900);
  --betterplace-shadow-inner-neutral-6: inset var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-dimension-4) var(--betterplace-color-gray-300);
  --betterplace-shadow-inner-neutral-5: inset var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-2) var(--betterplace-color-gray-300);
  --betterplace-shadow-inner-neutral-4: inset var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-0) var(--betterplace-color-gray-300);
  --betterplace-shadow-inner-neutral-3: inset var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-dimension--2) var(--betterplace-color-gray-300);
  --betterplace-shadow-inner-neutral-2: inset var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-dimension--3) var(--betterplace-color-gray-300);
  --betterplace-shadow-inner-neutral-1: inset var(--betterplace-dimension-none) 0.063rem var(--betterplace-dimension--4) var(--betterplace-color-gray-300);
  --betterplace-shadow-outer-red-hard-6: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension-1) var(--betterplace-color-border-danger);
  --betterplace-shadow-outer-red-hard-5: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-color-border-danger);
  --betterplace-shadow-outer-red-hard-4: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-color-border-danger);
  --betterplace-shadow-outer-red-hard-3: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-color-border-danger);
  --betterplace-shadow-outer-red-hard-2: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-color-border-danger);
  --betterplace-shadow-outer-red-hard-1: var(--betterplace-dimension-none) var(--betterplace-dimension-none) 0.063rem var(--betterplace-color-border-danger);
  --betterplace-shadow-outer-green-hard-6: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension-1) var(--betterplace-color-green-900);
  --betterplace-shadow-outer-green-hard-5: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-color-green-900);
  --betterplace-shadow-outer-green-hard-4: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-color-green-900);
  --betterplace-shadow-outer-green-hard-3: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-color-green-900);
  --betterplace-shadow-outer-green-hard-2: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-color-green-900);
  --betterplace-shadow-outer-green-hard-1: var(--betterplace-dimension-none) var(--betterplace-dimension-none) 0.063rem var(--betterplace-color-green-900);
  --betterplace-shadow-outer-neutral-hard-6: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension-1) var(--betterplace-color-gray-600);
  --betterplace-shadow-outer-neutral-hard-5: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-color-gray-600);
  --betterplace-shadow-outer-neutral-hard-4: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-color-gray-600);
  --betterplace-shadow-outer-neutral-hard-3: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-color-gray-600);
  --betterplace-shadow-outer-neutral-hard-2: var(--betterplace-dimension-none) var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-color-gray-600);
  --betterplace-shadow-outer-neutral-hard-1: var(--betterplace-dimension-none) var(--betterplace-dimension-none) 0.063rem var(--betterplace-color-gray-600);
  --betterplace-shadow-outer-neutral-soft-6: var(--betterplace-dimension-none) var(--betterplace-dimension--1) var(--betterplace-dimension-4) var(--betterplace-color-gray-300);
  --betterplace-shadow-outer-neutral-soft-5: var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-2) var(--betterplace-color-gray-300);
  --betterplace-shadow-outer-neutral-soft-4: var(--betterplace-dimension-none) var(--betterplace-dimension--2) var(--betterplace-dimension-0) var(--betterplace-color-gray-300);
  --betterplace-shadow-outer-neutral-soft-3: var(--betterplace-dimension-none) var(--betterplace-dimension--3) var(--betterplace-dimension--2) var(--betterplace-color-gray-300);
  --betterplace-shadow-outer-neutral-soft-2: var(--betterplace-dimension-none) var(--betterplace-dimension--4) var(--betterplace-dimension--3) var(--betterplace-color-gray-300);
  --betterplace-shadow-outer-neutral-soft-1: var(--betterplace-dimension-none) 0.063rem var(--betterplace-dimension--4) var(--betterplace-color-gray-300);
  --betterplace-typography-4xl-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size-8)/var(--betterplace-line-heights-xs) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-3xl-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size-7)/var(--betterplace-line-heights-xs) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-2xl-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size-4)/var(--betterplace-line-heights-xs) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-xl-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size-3)/var(--betterplace-line-heights-xs) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-xl: var(--betterplace-font-weights-regular) var(--betterplace-font-size-3)/var(--betterplace-line-heights-xs) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-lg-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size-1)/var(--betterplace-line-heights-base) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-lg: var(--betterplace-font-weights-regular) var(--betterplace-font-size-1)/var(--betterplace-line-heights-base) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-base-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size-0)/var(--betterplace-line-heights-base) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-base: var(--betterplace-font-weights-regular) var(--betterplace-font-size-0)/var(--betterplace-line-heights-base) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-sm-bold-narrow: var(--betterplace-font-weights-bold) var(--betterplace-font-size--1)/var(--betterplace-line-heights-sm) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-sm-bold: var(--betterplace-font-weights-bold) var(--betterplace-font-size--1)/var(--betterplace-line-heights-base) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-sm-narrow: var(--betterplace-font-weights-regular) var(--betterplace-font-size--1)/var(--betterplace-line-heights-sm) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-sm: var(--betterplace-font-weights-regular) var(--betterplace-font-size--1)/var(--betterplace-line-heights-base) var(--betterplace-font-families-fira-sans);
  --betterplace-typography-xs: var(--betterplace-font-weights-regular) var(--betterplace-font-size--2)/var(--betterplace-line-heights-sm) var(--betterplace-font-families-fira-sans);
  --betterplace-font-size--1: 0.841rem;
  --betterplace-font-size--2: 0.707rem;
  --betterplace-font-size--3: 0.595rem;
  --betterplace-font-size-10: 5.657rem;
  --betterplace-font-size-9: 4.757rem;
  --betterplace-font-size-8: 4rem;
  --betterplace-font-size-7: 3.363rem;
  --betterplace-font-size-6: 2.828rem;
  --betterplace-font-size-5: 2.378rem;
  --betterplace-font-size-4: 2rem;
  --betterplace-font-size-3: 1.682rem;
  --betterplace-font-size-2: 1.414rem;
  --betterplace-font-size-1: 1.189rem;
  --betterplace-variables-fluid-root-font-size: min(max(var(--betterplace-variables-min-font-size) + (var(--betterplace-viewport-width) - var(--betterplace-viewport-min)) * (1.125 - 1) / (90 - 22.5), var(--betterplace-variables-min-font-size)), var(--betterplace-variables-max-font-size));
  --betterplace-units-rem: var(--betterplace-variables-fluid-root-font-size);
  --betterplace-units-ch: var(--betterplace-variables-fluid-root-font-size) * var(--betterplace-variables-width-of-zero-glyph);
}
